
$utilities: (
    "viewport-height": (
        property: height,
        class: vh,
        values: (
            50: 50vh,
            30: 30vh,
            35: 35vh,
        ),
    ),
);



// $utilities: map-merge(
//     $utilities,
//         (
//             "viewport-height": (
//             property: height,
//             class: vvh,
//             values: (100: 100vh,
//                     25: 25vh,
//                     30: 30vh,
//                     35: 35vh,
//                     33: 33vh,
//                     40: 40vh),
//             )
//         )
//     );
@import "../node_modules/bootstrap/scss/bootstrap.scss";